@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto&display=swap');

@import url('components/container.css');
@import url('components/Dégustation.css');
@import url('components/button.css');
@import url('components/Création.css');
@import url('components/banner.css');
@import url('components/Léquipe.css');
@import url('components/Devanture.css');


body {
	font-family: "Lora", serif;	
	font-size: 18px;
	margin: 0 auto;
}
h1, h2 {
	font-family: "Cedarville Cursive", cursive;
	font-weight: bold;
}
a{
	text-decoration: none;
}
h1{
	font-size: 50px;
}
h3{
	font-family: "Lora", serif;
	font-weight: lighter;
}