.banner {
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.3) 50%), url(../../images/banner.jpg);
	color: rgb(148, 78, 99);
	padding: 50px 0px;
	background-size: cover;
	background-position: center;
} 

.banner h1{
	font-size: 50px;
} 

.banner h2{
	font-size: 24px;
	color:rgb(108, 3, 69);
	font-family: "Lora", serif;	
	opacity:  0.8;
	margin-bottom: 40px;
}